*{
    font-family: "Work Sans", sans-serif;
}


.nav{
    
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 0;

}


.logo{
   margin: 2px;
    width: 14%;
    display: flex;
    align-items: center;
}


.logo img{
    width: 100%;
}

.icons{
    font-size: 22px;
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    font-size: 25px;
}

.lownav{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{

    font-size: 25px;
    
}

footer>img{
    width:100%
}