*{
    font-family: "Work Sans", sans-serif;
}


.nav{
    
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 0;
}


.logo{
   margin: 2px;
    width: 14%;
    display: flex;
    align-items: center;
}


.logo img{
    width: 100%;
}

.icons{
    font-size: 22px;
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.lownav{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{

    font-size: 25px;
    
}

.underline{

    font-size: 0;
    
}

footer>img{
    width:100%
}

.hometop{

    margin: 30px;
    display: flex;

}

.hometop>img{
    width: 80%;
    margin: auto;
}

.homemid{

    display: flex;
    justify-content: space-around;
    margin: 25px;
    padding: 10px;
    
}

.homemid>div{
    width: 25%;
}

.homemid>div>img{
    width: 100%;
}

.bestseller{
    
    text-align: center;
    font-size: larger;
    margin: 50px;
}

.bestsell{
   
    display: flex;
    justify-content: space-around;
    margin: 25px;
    padding: 10px;

}

.bestsell>div{

    width: 15%;
   
}

.bestsell>div>img{

    width: 100%;
}

.buyerBtn{
    
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
}

.buyerBtn>img{
    
    width: 100%;


}